<br>
<br>
<div class="container">
    <div class="row">
    <div class="col-md-8">
    <section class="form-dark mb-500">
                      <!--Form without header-->

                      <mdb-card  style="background-image: url('https://ak3.picdn.net/shutterstock/videos/24297563/thumb/1.jpg')">
                      <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
                      <!--Grid row-->
                      <div class="row d-flex align-items-center">

                      <!--Grid column-->
                      <div class="text-center col-md-12 mt-3 mb-2">
                      <ul class="list-unstyled">
                      <li>
                      <h5><a mdbPageScroll  >
                      <div class="text-center">
                      <h3 class="white-text mb-5 mt-4 font-weight-bold text-uppercase">
                      <strong>Add</strong>
                      <a class="green-text font-weight-bold">
                      <strong> Product</strong>
                      </a>
                      </h3>
                      </div>

                      </a></h5>
                      </li>
                      </ul>

                      </div>
                      <!--Grid column-->
                      </div>
                      <!--Grid row-->

                      </div>
                      </mdb-card>
                      <!--/Form without header-->

                      </section>

    <mdb-card>
        <!--Card content-->
        <mdb-card-body class="px-lg-5 pt-0">
        <!-- Form -->
        <form>
<br>
        <div class="col">
        <!-- First name -->
        <div class="md-form">
        <input [(ngModel)]="ProductName" type="text" name="ProductName" id="ProductName"  class="form-control" mdbInput>
        <label for="ProductName">Product name</label>
        </div>
        </div>
<div class="md-form" style="margin-left: 15%">
<div class="custom-control custom-radio custom-control-inline">
    <input type="radio" [(ngModel)]="Categorie" value="medicalherbs" name="Categorie" class="custom-control-input" id="medicalherbs" name="medicalherbs">
    <label class="custom-control-label"  for="medicalherbs">Medical Herbs</label>
  </div>
  <div style="margin-left: 25%"  class="custom-control custom-radio custom-control-inline">
    <input type="radio" [(ngModel)]="Categorie" value="cosmeticherbs" name="Categorie" class="custom-control-input" id="cosmeticherbs" name="cosmeticherbs">
    <label class="custom-control-label" for="cosmeticherbs">Cosmetic Herbs</label>
  </div>
  <div style="margin-left: 30%" class="custom-control custom-radio custom-control-inline">
    <input type="radio" [(ngModel)]="Categorie" value="ourproducts" name="Categorie" class="custom-control-input" id="ourproducts" name="ourproducts">
    <label class="custom-control-label" for="ourproducts">Products</label>
  </div>
</div>
<div class="col">
    <div class="md-form">
    <textarea [(ngModel)]="Description" type="text" id="Description" name="Description" class="form-control" mdbInput> </textarea>
    <label for="Description">Description</label>
    </div>
    </div>

        <div class="form-row">
            <div class="col">
            <div class="md-form">
            <input [(ngModel)]="Price" type="number" id="Price" name="Price"  class="form-control" mdbInput>
            <label for="Price">Price</label>
            </div>
            </div>
            <div class="col">
            <div class="md-form">
            <input [(ngModel)]="AvailableQuantity" id="AvailableQuantity" name="AvailableQuantity" type="number" class="form-control" mdbInput>
            <label for="AvailableQuantity">Available Quantity</label>
            </div>
            </div>
            </div>

      <!-- Phone number -->
      <div class="md-form">
      <input [(ngModel)]="Photo" name="Photo" id="Photo" type="text" class="form-control" mdbInput>
      <label for="Photo">Photo</label>
      <small class="form-text text-muted mb-4">
      Insert Your Product's Image Url It's optional
      </small>
      </div>

      <button (click)='onPost()' mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
      type="submit">Post it</button>



    </form>
    </mdb-card-body>

    </mdb-card>
    <br>
   <br>
    </div>
