 <!--title-->
 <!doctype html>
 <section class="hero">
     <header id="header">
       <a id="logo" href="#"></a>
       <nav>
         <a id="menu-icon">&#8801;</a>
       </nav>
     </header>
     <header class="hero-header">
       <h1 class="hero-title">
           <br>


       </h1>
     </header>
     <footer class="hero-footer">
     </footer>
   </section>
   <article>
     <h1 >Welcome to our forest</h1>
     <p><strong> rest of the page content continues below the hero. You can use the hero at the top of your page, e.g. the home page. A hero is great to display a high quality picture together with tasty title.</strong></p>
     <p><strong> donec tincidunt torquent ultricies convallis sodales faucibus magna, fringilla lorem blandit sollicitudin donec faucibus curae orci molestie, et proin curae aliquet venenatis ligula amet vivamus orci varius arcu.</strong></p>

   </article>
   <!--photo-->
   <div class="fire">
   <p > herbo website</p>
   </div>
   <div class="container">
 <app-allproductscards *ngFor="let Product of Products" [Product]="Product"></app-allproductscards>
</div>



