<!--Section: articles-->
<section id="articles" class="text-center py-5">

  <!-- Container -->
  <div class="container">

      <!-- Section heading -->
      <h2 class="h1-responsive font-weight-bold mb-5">Learn more about herbs:</h2>

      <!--Grid row-->
      <div class="row">

          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4">

              <!-- Card Narrower -->
              <div class="card card-cascade narrower">

                  <!-- Card image -->
                  <div class="view view-cascade">
                      <img class="card-img-top" height="300" src="https://www.10wallpaper.com/wallpaper/1366x768/1606/White_chamomile_blurring-Flowers_Photo_HD_Wallpaper_1366x768.jpg"
                          alt="Card image cap">
                      <a>
                          <div class="mask img-gradient"></div>
                      </a>
                  </div>

                  <!-- Card content -->
                  <div class="card-body card-body-cascade">

                      <!-- Label -->
                      <h5 class="pink-text pb-2 pt-1"><i class="fa fa-cutlery"></i> <b>camomille</b></h5>
                      <!-- Title -->
                      <h4 class="font-weight-bold card-title">Cheat day inspirations</h4>
                      <!-- Text -->
                      <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam
                          corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.</p>
                      <!-- Button -->
                      <a class="btn btn-green">Learn More</a>

                  </div>

              </div>
              <!-- Card Narrower -->

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4">

              <!-- Card Narrower -->
              <div class="card card-cascade narrower">

                  <!-- Card image -->
                  <div class="view view-cascade">
                      <img class="card-img-top" width="10" height="300" src="https://www.lgbotanicals.com/assets/images/Bay-Laurel-Hydrosol-736.jpg"
                          alt="Card image cap">
                      <a>
                          <div class="mask img-gradient"></div>
                      </a>
                  </div>

                  <!-- Card content -->
                  <div class="card-body card-body-cascade">

                      <!-- Label -->
                      <h5 class="pink-text pb-2 pt-1"><i class="fa fa-cutlery"></i> <b>Baylaurel</b> </h5>
                      <!-- Title -->
                      <h4 class="font-weight-bold card-title">Cheat day inspirations</h4>
                      <!-- Text -->
                      <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam
                          corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.</p>
                      <!-- Button -->
                      <a class="btn btn-green">Learn More</a>

                  </div>

              </div>
              <!-- Card Narrower -->

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4">

              <!-- Card Narrower -->
              <div class="card card-cascade narrower">

                  <!-- Card image -->
                  <div class="view view-cascade">
                      <img class="card-img-top" height="300" src="http://s1.bwallpapers.com/wallpapers/2014/02/11/lavender-hd_092814572.jpg"
                          alt="Card image cap">
                      <a>
                          <div class="mask img-gradient"></div>
                      </a>
                  </div>

                  <!-- Card content -->
                  <div class="card-body card-body-cascade">

                      <!-- Label -->
                      <h5 class="pink-text pb-2 pt-1"><i class="fa fa-cutlery"></i><b>Lavender</b> </h5>
                      <!-- Title -->
                      <h4 class="font-weight-bold card-title">Cheat day inspirations</h4>
                      <!-- Text -->
                      <p class="card-text">Lavender works as an anxiolytic (an anxiety reliever) and as a sedative, </p>
                      <!-- Button -->
                      <a class="btn btn-green">Learn More</a>

                  </div>

              </div>
              <!-- Card Narrower -->

          </div>
          <!--Grid column-->

      </div>
      <!--Grid row-->

  </div>
  <!-- Container -->

</section>
