<div>

    <div>
        <div class="media">
            <img class="d-flex rounded-circle avatar z-depth-1-half mr-3" src="https://i.redd.it/wellr7jjiv011.jpg"
              alt="Avatar">
            <div class="media-body">
              <h5 class="mt-0 font-weight-bold blue-text">User1</h5>
              bad bad
               <div class="orange-text">
                  <mdb-icon fas icon="star"> </mdb-icon>

                </div>
              </div>
            </div>
            <br>
            <div>
              <div class="media">
                  <img class="d-flex rounded-circle avatar z-depth-1-half mr-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlymzR0QKs_ADRkYeFW2wqPeMmRSAXnRU4W21zqdyy1yh5-xxg"
                    alt="Avatar">
                  <div class="media-body">
                    <h5 class="mt-0 font-weight-bold blue-text">User2</h5>
                    nice nice nice
                    <div class="orange-text">
                        <mdb-icon fas icon="star"> </mdb-icon>
                        <mdb-icon fas icon="star"> </mdb-icon>
                        <mdb-icon fas icon="star"> </mdb-icon>
                        <mdb-icon fas icon="star"> </mdb-icon>
                        <mdb-icon fas icon="star"> </mdb-icon>

                      </div>
                    </div>
                  </div>
                   <br>
            </div>
          </div>

<div>
<div class="media">

    <img class="d-flex rounded-circle avatar z-depth-1-half mr-3" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg"
      alt="Avatar">
    <div class="media-body">
      <h5 class="mt-0 font-weight-bold blue-text">User3</h5>
      good good good
      <div class="orange-text">
          <mdb-icon fas icon="star"> </mdb-icon>
          <mdb-icon fas icon="star"> </mdb-icon>
          <mdb-icon fas icon="star"> </mdb-icon>

        </div>

      </div>
    </div>
    <br>




  </div>
</div>
<br>
