<!--Card--><div class="container">
  <div class="card-deck">
  <div  style="max-width: 25%" class="card card-cascade card-ecommerce wider">

    <!--Card image-->
    <div class="view view-cascade overlay">
      <img class="card-img-top" src="{{Product.photo}}"
        alt="">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-body card-body-cascade text-center">
      <!--Category & Title-->
      <h5>{{Product.category}}</h5>
      <h4 class="card-title"><strong>{{Product.name}}</strong></h4>


      <!--Description-->
      <p class="card-text">{{Product.description}}</p>

      <p class="card-text">{{Product.price}}</p>


      <!--Card footer-->
        <!-- Material outline input -->
      </div><button type="button" (click)="onSeeProduct()" class="btn btn-outline-success btn-rounded waves-effect">See Product</button>

    </div>
    <!--/.Card content-->

  </div>

</div>

<br>
<br>
<br>
<br>
<br>
