
  <section class=" intro-2">
    <div class="full-bg-img mask rgba-gradient">
        <div class="container flex-center">
          <div class="d-flex align-items-center content-height w-100">
            <div class="row d-flex pt-5 mt-3 w-100">
              <div class="col-md-6 text-md-left text-md-left mb-5">
                <div class="white-text">
              <h1 class="h1 h1-responsive font-bold wow fadeInLeft animated fadeIn" class="Police" data-wow-delay="0.3s"   routerLink="/Test" >Herbo</h1>
              <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
              <h2>Sign in right now!</h2>

              <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Here the description of our website </h6>
              <br>
              <a mdbBtn color="white" outline="true" class="wow fadeInLeft waves-light" data-wow-delay="0.3s"
                mdbWavesEffect routerLink="/Learn" routerLinkActive="router-link-active">Learn more</a>
            </div>
          </div>

          <div class="col-md-6 col-xl-5 offset-xl-1">
            <!--Form-->
            <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
              <mdb-card-body>
                <!--Header-->

                <!--Body-->

                <div class="md-form">
                  <label for="Email" class="text-white">Your email</label>
                  <input [(ngModel)]="Email" type="Email" required id="Email" class="text-white form-control" mdbInput>

                </div>
                <div class="md-form">
                   <label for="Password" class="text-white">Your password</label>
                   <input [(ngModel)]="Password" type="Password" required id="Password" class="text-white form-control" mdbInput>

                </div>
                <div class="text-center mt-4">
                    <button (click)="onLogin()" type="button" mdbBtn color="light" mdbWavesEffect mdbBtn color="white" outline="true" class="wow fadeInLeft waves-light" data-wow-delay="0.3s"
                    mdbWavesEffect  routerLinkActive="router-link-active">Sign In</button>
<br>
<br>

                  <hr class="hr-light mb-3 mt-4">
                  <br>
                  <a mdbBtn color="white" outline="true" class="wow fadeInLeft waves-light" data-wow-delay="0.3s"
                  mdbWavesEffect routerLink="/signup" routerLinkActive="router-link-active">I don't have an account </a>


                </div>
              </mdb-card-body>
            </mdb-card>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <!--/.Form-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
